/* Starting C# CSS loader... */
/* Server time: 02:08:34.744 */
/* <styles/resets.css> */
/* --------------------------------------- */
body, html, div {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight:normal;
}
a {
    border:none;
    outline:none;
}

/* --------------------------------------- */
/* </styles/resets.css> */


/* <fonts/fonts.css> */
/* --------------------------------------- */
@font-face {
	font-family: 'GillSansMT-Condensed';
	src: url('/fonts/gilc.eot');
	src: url('/fonts/gilc.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/gilc.woff') format('woff'),
			 url('/fonts/gilc.ttf') format('truetype'),
			 url('/fonts/gilc.svg#gilc') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url('/fonts/Oxygen.eot');
    src: url('/fonts/Oxygen.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Oxygen.woff') format('woff'),
         url('/fonts/Oxygen.ttf') format('truetype'),
         url('/fonts/Oxygen.svg#OxygenRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/opensans-condlight.eot');
    src: url('/fonts/opensans-condlight.eot') format('embedded-opentype'),
            url('/fonts/opensans-condlight.woff') format('woff'),
            url('/fonts/opensans-condlight.ttf') format('truetype'),
            url('/fonts/opensans-condlight.svg#OpenSansCondensedLight') format('svg');
}

/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Light.eot?v=1.1.0");
  src: url("/fonts/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"),
       url("/fonts/OpenSans-Light.woff2?v=1.1.0") format("woff2"),
       url("/fonts/OpenSans-Light.woff?v=1.1.0") format("woff"),
       url("/fonts/OpenSans-Light.ttf?v=1.1.0") format("truetype"),
       url("/fonts/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal; }
/* END Light */

/* --------------------------------------- */
/* </fonts/fonts.css> */


/* <styles/page.css> */
/* --------------------------------------- */
body{
    font-family: Oxygen, Verdana;
    line-height: 18px;
	font-size: 13px;
    background-color:#ececec;
    overflow-y:scroll;
}

.page {
	margin: 0 auto;
	width: 95%;
    max-width: 1500px;
	overflow: hidden;
	position: relative;
}

.content {
    background-color:white;
    margin: 0 auto;
	width: 95%;
    max-width: 1500px;
	overflow: hidden;
	position: relative;
	min-height: 200px;

    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.40);
}

.clearboth {
    clear: both;
}

.header {
	min-height: 130px;
	background-image:url('/images/logo.png');
    background-size: auto 80%;
	background-position: 20px bottom;
	background-repeat:no-repeat;
    white-space:nowrap;
}
.-header {
	margin-left: 115px;
    line-height: 1.3em;

}
.header #name{
	color:#024189;
	font-family: 'GillSansMT-Condensed';
	text-transform: uppercase;
	font-size: 2.8em;
	margin-top: 10px;
}
.header #tagline{
	color: #4a6d95;
	font-family: 'GillSansMT-Condensed';
	font-size: 2.2em;
	position:relative;
	top: -10px;
}

.footer {
    font-family: Verdana;
    margin-top: 25px;
    box-sizing:border-box;
    font-size: 0.8em;
    text-align:right;
}
.footer div {
    margin-right: 15px;
}
.bglogo {
    display:block;
    position:fixed;
    bottom: 15px; right: 10px;
    width: 305px; height: 418px;
    background-image:url('/images/bglogo.png');
    z-index:-1;
}

/* Reusable column setup */
.col {
	border: 0px solid rgba(0,0,0,0);
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding-box !important;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
    position:relative;
}
.rcol {
    float: right;
}

.redtext {
            color: #FF0000;
        }

.innerlargepic {
    max-width: 1000px;
    width: 100%;
    /*margin: 0 auto;*/
}
.innerlargepic img {
    width: 100%;
    height: 100%;
}

.linkbutton {
    position:relative;
    float:none;
    display:block;
    max-width: 10%;
    min-width: 125px;
    height: 20px;
    overflow:hidden;

    color: #2e2e2e;
	padding: 3px 10px;

    margin: 0px 5px 16px 0px;

	background: rgb(255,255,255);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(230,230,230,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 );

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #c7c7c7;
	-moz-box-shadow:
		0px 1px 4px rgba(224,224,224,0.5),
		inset 0px 0px 0px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 4px rgba(224,224,224,0.5),
		inset 0px 0px 0px rgba(255,255,255,1);
	box-shadow:
		0px 1px 4px rgba(224,224,224,0.5),
		inset 0px 0px 0px rgba(255,255,255,1);
	
    cursor:pointer;
}

.linkbutton:hover {
        background: rgb(255,255,255);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMGUyZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(208,226,244,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(208,226,244,1)));
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(208,226,244,1) 100%);
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(208,226,244,1) 100%);
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(208,226,244,1) 100%);
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(208,226,244,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0e2f4',GradientType=0 );
    }

    .linkbutton a {
        display:block;
        top: 0; left: 0;
        width: 100%; height: 100%;
        position:absolute;
        text-align:center;
        padding-top: 4px;
    }

.button {
    width: 100%;
    max-width: 240px;
    margin: 10px auto 10px 10px;
    background-color: #97b2d8;
    position: relative;
    border-radius: 5px;
    -moz-transition: background-color ease-out .3s;
    -o-transition: background-color ease-out .3s;
    -webkit-transition: background-color ease-out .3s;
    transition: background-color ease-out .3s;
}
.button.float{
    display:inline-block;
}
.button a {
    color: white !important;
    text-decoration: none !important;
    border-bottom: none !important;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.3rem;
}
.button:hover{
    background-color:#164281;
}
.button.warning{
    background-color: #d89797;
}
.button.warning:hover{
    background-color: #811616;
}


    #progress {
    width: 300px;
    background: #F4F4F4;
    border-radius: 3px;
    /*clear:both;*/
    visibility:hidden;
    }
.xbar {
    height: 18px;
    background: #1B4977;
    width: 0px;
    border-radius: 3px;
}

.admintable {
    max-width: 600px;
    border: 1px solid #024189;
}
.admintable a {
    border-bottom: 1px solid transparent !important;
    color: #024189 !important;
}

.admintable thead {
    font-weight:bold;
    border-bottom: 2px #1B4977 solid;
}
.admintable thead td{
    padding-bottom: 0;
}
.admintable td {
    vertical-align:top;
    padding: 0 4px 10px 4px;
}
.admintable .highlightrow td{
    background: #c7ffbf;
}

.admintable tbody tr:hover td {background: #87abce;}
.admintable tr:nth-child(even) {background: rgba(159, 186, 224, 0.17); -webkit-print-color-adjust: exact;}
.admintable tr:nth-child(odd) {background: white;}

#files tr{
    cursor:pointer;
}


/* --------------------------------------- */
/* </styles/page.css> */


/* <styles/navbar.css> */
/* --------------------------------------- */
#navbar {
    position:absolute;
    bottom: 0px;
    height: 23%; /*header / 30px // overriden for L1*/
    width: 100%;
}
#navbar ul {
    border:0; padding: 0; margin: 0;
    list-style:none;
    display:block;
    height:100%;
}
#navbar ul li:first-child {
    background-color:#ECECEC;
}
#navbar li {
    border:0; padding: 0;
    margin: 0 10px 0 10px;
    float:left;
    height:100%; width: 85px;
    display:block;
    cursor:default;

    -webkit-transition: background-color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
}
#navbar li a {
    display:block;
    height: 100%; width: 100%;
    color: black;
    text-decoration:none;
    position:relative;
    text-align:center;
}
#navbar li span {
    padding-top: 7%; /* sets middle of navbar at all but L1*/
    display:block; 
}
#navbar ul #active, #navbarnetwork ul #active, #network ul #active {
    background-color:#024189;
}
#navbar ul #active a, #navbarnetwork ul #active a, #network ul #active a {
    color:white;
}
#navbar ul li:hover {
    background-color:grey;
}
#shownav {
    background-color:transparent;
    visibility:collapse;
    min-width: 100%;
    position:absolute;
    font-size:1.6em;
    top:0; left: 0;
    height: 80px;
}
#shownav a, #closenav a {
    display:block;
    height: 100%;
    color: black;
    text-decoration:none;
    text-align:center;
    color:white;
}
#shownav a div {
    padding-top: 53px;
    display:block;
}
#shownav a div span {
    display:block;
    background-color:#024189;
    padding-top:4px;
    height: 19px;
}
#closenav {
    display:none;
    width: 100%;  
}
#closenav a div span {
    background-color:white;
    color:black;
    display:block;
    padding-top:8px;
    height: 25px;
}

#navbar ul { padding-left:22px; } /* overridden for L1,2*/

#network {
    position:absolute;
    right: 10px; top:0px;
    background-color: white;
    color:black;
    padding: 0px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.40);
}
#network ul {
    list-style:none;
    margin:0; padding:0; border:0;
}
#network li {
    border:0; padding: 3px 8px 3px 8px;
    margin: 0px;
    float:left;
    height:100%;
    display:block;
    cursor:default;

    -webkit-transition: background-color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
    text-align:center;
}
#network li img{
    width: 32px;
    opacity: 0.3;
    transition: all linear 0.3s;
}
#network li:hover img{
    opacity: 1;
}
#network li a {
    display:block;
    height: 100%; width: 100%;
    color: black;
    text-decoration:none;
    position:relative;
    text-align:center;
}
#network ul li:hover {
    background-color:grey;
}
#navbar #navbarnetwork {
    display:none;
}

/* --------------------------------------- */
/* </styles/navbar.css> */


/* <styles/home.css> */
/* --------------------------------------- */
/* main pic */
.mainpic { 
    background-color: transparent;
    width: 100%; /* pictures shouldn't grow beyond 1000px (height ratio), thus size them to be this big! */
    height: 315px;
    float:left;
    overflow:hidden;
}
.mainpic img { /* overridden in L0 */
    height: 100%;
    position:relative;
    left: 50%;
    margin-left: -500px; /* calculated from max-width above */
}

/*main pic slideshow*/
#slideshow {
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0px;
}
#slideshow img {
    position:absolute;
    z-index:1;
}

#slideshow img.current {
    z-index:3;
}

#slideshow img.previous {
    z-index:2;
}

/* --------------------------------------- */
/* </styles/home.css> */


/* <styles/home-tiles.css> */
/* --------------------------------------- */
/* generic tile stuff*/
.tile{
	background-color: transparent;
	height: 220px;
}
.tilecontainer {
    display:block;
    height:100%;
    border: 4px solid transparent;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tilecontent {
    display:block;
    height:100%;
    overflow:hidden;
    position:relative; /* bug? absolutely defined children need this to NOT overflow */   
}
.tile.hiddentile {
    display:none;
}

/* coloured backgrounds setup */
.tilecontainer.grey .tilecontent{
    background-color: #f6f6f6;
}
.tilecontainer.red .tilecontent{
    background-color: #f9f1f1;
}
.tilecontainer.yellow .tilecontent {
    background-color: #fffbeb;
}
.tilecontainer.green .tilecontent {
    background-color: #ebfae1;
}
.tilecontainer.blue .tilecontent {
    background-color: #e6ecf2;
}

.tilecontainer.notice .tilecontent {
    border: 2px solid #024189;
}

/* tiletext styles */
.tiletext {
    display:block;
    border: 5px transparent solid;
    padding: 0px;
    overflow:hidden;
    text-overflow: ellipsis;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    height: 100%;
}
.tiletext h2 {
    font-family: 'Open Sans Condensed', 'GillSansMT-Condensed', Verdana;
    font-size: 2.1em;
    color: #024189;
    text-wrap:normal;
    line-height: 0.9em;
    border-bottom: 1px solid #024189;
    padding-bottom: 5px;
}
.tiletext h5 {
    padding-top:4px;
    font-size: 1em;
    color: #024189;
    line-height: 18px;
}
.tiletext p {
    padding-top: 4px;
    overflow:hidden;
    text-overflow: ellipsis; /* does word..., using jquery plugin to do words */
    color: #1c1c1c;
}
.tiletext a {
    text-decoration:none;
    border-bottom: 1px solid transparent;
}
.tiletext h2 a, h5 a {
    color: #024189;
}
.tiletext h5 a:hover {
    border-bottom: 1px dashed #024189;
}
.tiletext p a, .tiletext li a {
    color: #1c1c1c;
}
.tiletext p a:hover, .tiletext li a:hover {
    border-bottom: 1px dashed #1c1c1c;
}
.tiletext ul {
    margin: 0; padding: 3px 0 0 0;
    list-style: none;
}
.tiletext li {
    margin-left: 8px;
    line-height: 18px;
    color: #1c1c1c;
}


.tilepicture, .tiletext {
    z-index:0;
    position:relative;
}

/*read more hover */
.tile .readmore {
    display:block;
    position:absolute;
    top: 0px; left: 0px;
    background-color: rgba(255, 255, 255, 0); /*fix for IE vs 'transparent' */
    width: 100%; height: 100%;
    text-align:right;
    color:black;
    text-decoration: none;
    padding: 4px;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.tile .readmore div {
    display:none;
    position:absolute;
    bottom: 0px; right: 0px;
    width: 100px; height: 100px;
    background-image: url('/images/tile-readmorehover.png');
    font-size:0px;
}
.tilecontent:hover {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.60);
}
.tilecontent:hover .readmore div {
    display:block;
}


/* single tile only stuff */
.singletile .tilepicture {
    display:block;
    position:absolute;
    top: 43px; height: 87px;
    width: 100%; max-width: 300px;

    background: #feffff;
}
.singletile .tilepicture img {
    position:relative;
    left: 50%;
    margin-left: -150px; /* calculated from max-width above */
}
.singletile h2 {
    margin-bottom: 97px; /* so lines wrap correctly */
}
.singlepicturetile .tilepicture { /* overridden in L0 */
    max-width: 300px; width: 100%; /* pictures shouldn't grow beyond 166px (height ratio), thus size them to be this big! */
    height: 100%;
    float:left;
    overflow:hidden;
}
.singlepicturetile .tilepicture img { /* overridden in L0 */
    height: 100%;
    position:relative;
    left: 50%;
    margin-left: -80px; /* calculated from max-width above */
}
.singlepicturetile .tiletext{
    display:none;
}


/* double tile only stuff*/
.doubletile{
	background-color: transparent;
}
.doubletile .tilepicture { /* overridden in L0 */
    max-width: 166px; width: 40%; /* pictures shouldn't grow beyond 166px (height ratio), thus size them to be this big! */
    height: 100%;
    float:left;
    overflow:hidden;
}
.doubletile .tilepicture img { /* overridden in L0 */
    height: 100%;
    position:relative;
    left: 50%;
    margin-left: -83px; /* calculated from max-width above */
}


/* --------------------------------------- */
/* </styles/home-tiles.css> */


/* <styles/home-newscolumn.css> */
/* --------------------------------------- */
/* news column */
.news{
	background-color: greenyellow;
	min-height: 315px; /*535px;*/
    height: 100%;

}
.news {
    background-color: white;
    background-image: url('/images/news-bg.png');
    background-position: top right;
    background-repeat:repeat-y;

    padding: 8px 12px 0px 12px;
}
.news h1 {
    font-family: 'Open Sans Condensed', 'GillSansMT-Condensed', Verdana;
    font-size: 2.8em;
    color: #024189;
    text-wrap:normal;
    line-height: 0.9em;
    border-bottom: 1px solid #024189;
    padding-bottom: 5px;
}
.news .viewarchive{
    position: absolute;
    top: 15px;
    left: 70px;
    font-size: 1.2em;
}
.news .viewarchive a{
    text-decoration:none;
    border-bottom: 1px dotted #024189;
    color: #024189;
}
.newscontainer {
    position:relative;
}
.news .newsitem {
    height: 110px;
    overflow:hidden;
    position:relative;
}
.news .newsitem:nth-of-type(-n+2) { /* overrides above for the first 2 news items */
    /*height: 135px;*/
}

.news .newsitem .newscontainer {
    height: 100px;
    overflow:hidden;
}
.news .newsitem:nth-of-type(-n+2) .newscontainer { /* overrides above for the first 2 news items */
    /*height: 118px;*/
}

.news .newstext {
    height: 82px;
    overflow:hidden;
}
.news .newsitem:nth-of-type(-n+2) .newstext { /* overrides above for the first 2 news items */
    /*height:100px;*/
}


.news .readmore {
    display:block;
    position:absolute;
    top: 0px; left: 0px;
    width: 100%; height: 100%;
    text-align:right;
    text-decoration: none;
    padding: 4px;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    color: #8a8a8a;
    background-color: rgba(255, 255, 255, 0); /*fix for IE vs 'transparent' */
}
.news .readmore div {
    display:block;
    position:absolute;
    bottom: 0px; right: 0px;
    height: 18px;
    border-bottom: 1px solid transparent;
}
.news .readmore:hover {
    color: #024189;
}
.news .readmore:hover div {
    border-bottom: 1px dashed #024189;
}


.news .sep {
    width: 60%; height: 1px;
    display:block;
    background-color: #d6d6d6;
    position:relative;
    margin: 5px auto;
}
.news h2 {
    padding-top: 6px;
    font-family: 'Oxygen', Verdana;
    font-size: 1.2em;
    color: #024189;
}
.news p {
    padding: 4px 10px 0px 6px;
    color: #1c1c1c;
    
}

/* --------------------------------------- */
/* </styles/home-newscolumn.css> */


/* <styles/home-newspane.css> */
/* --------------------------------------- */
#pagebody {
    position:initial; /* position: fixed; when showing news pane*/
    width: 100%; height: 100%;
}
.blackout {
    display:none; /* display: block; when showing news pane */
    position:fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color:black;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}
.newspane {
    display:none; /* display: block; when showing news pane */
    background-color:white;
	width: 80%;
    max-width: 850px;
	overflow: hidden;
	position: absolute;
	min-height: 40%;

    top: 8%;left: 0; right: 0;

    margin-left: auto; margin-right:auto;
    
    /*margin: 0 auto;*/

    box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.60);
    z-index: 11;
}
.newspane .newspanecontent {
    position: relative; left: -50%;
}
.newspane .close {
    position:absolute;
    top: 5px; right: 5px;
    width: 100%; height: 50px;
    opacity: 0.4;
    cursor:pointer;
}
.newspane .close img {
    display:block;
    height:16px;
    position:absolute;
    top: 0; right: 0;
}
.newspane .close:hover {
    opacity:1;
}
.newspane .back {
    display:inline;
    text-align:left;
    margin-left: 10px;
    cursor:pointer;
}
.newspane .back span {
    border-bottom: 1px dashed #808080;
}
.newspane .back:hover span {
    border-bottom: 1px dashed black;
}
.newspane h1 {
    font-family: 'Open Sans Condensed', 'GillSansMT-Condensed', Verdana;
    font-size: 2.8em;
    color: #024189;
    text-wrap:normal;
    line-height: 0.9em;
    border-bottom: 1px solid #024189;
    margin: 8px 10px 5px 10px;
    padding-bottom: 5px;
    text-transform: capitalize;
}
.newspane .text {
    float:right;
    width: 70%;
}
.newspane .text.full {
    float:right;
    width: 100%;
}
.newspane .text .body {
    text-align:justify;
    margin: 12px;
}
.newspane .text .metadata {
    text-align:right;
    margin: 20px 12px 12px 12px;
}
.newspane .text .metadata div {
    color:#b7b7b7;
}
.newspane .text .metadata div span {
    color:#808080;
}
.newspane .text .body p {
    padding-bottom: 8px;
    line-height: 1.5em;
}

.newspane .picture {
    width: 100%;
    height: 315px;
    overflow:hidden;
}
.newspane .picture img {
    height: 100%;
    position:relative;
    left: 50%;
    margin-left: -500px;
}
.newspane .gallery {
    float: left;
    width: 30%; /*max-width: 235px;*/
    overflow:hidden;
    margin-bottom: 5px;
}
.newspane .gallery .image {
    width: 100%;
    position:relative;
    padding: 5px 0 0 5px;
}
.newspane .gallery img {
    display:block;
    width: 100%;
    
    position:relative;
}


@media screen and (min-width: 600px) and (max-width: 799px) {
    .newspane {
        width: 90%;
    }
}
@media screen and (min-width: 0px) and (max-width: 599px) {
    .newspane {
        width: 100%;
    }
    .newspane .picture {
        height: auto; 
    }
    .newspane .picture img {
        height: auto;
        width: 150%;
        left:-50%; margin-left:25%;
    }
    .newspane .gallery {
        width: 100%;
    }
    .newspane .gallery .image {
        width: 47%;
        float:left;
    }
    .newspane .text {
        width: 100%;
    }
}

/* --------------------------------------- */
/* </styles/home-newspane.css> */


/* <styles/internalhome.css> */
/* --------------------------------------- */
.tile .readmore div {
    background-image: url('/images/tile-accesshover.png');
}

/* --------------------------------------- */
/* </styles/internalhome.css> */


/* <styles/layout.css> */
/* --------------------------------------- */
/* 0. 1 Column Grid 0px - 270px */
@media screen and (min-width: 0px) and (max-width: 326px) {
    .span_1, .tile, .mainpic, .news, .doubletile, .doubleinfotile, .header, .footer {
        margin-left: 0;
        width: 100%;
    }

    .doubletile .tilepicture {
        height: 50%;
        max-width: 100px;
        width: 25%;
        margin-right: 5px;
        margin-bottom: 5px;
        z-index: 1;
    }

    .doubletile .tilepicture img {
        margin-left: -50px;
    }

    .doubletile .tiletext, .doubletile .tiletext p {
        overflow: visible;
    }

}

/* 1. 1 Column Grid 326px - 599px */
@media screen and (min-width: 326px) and (max-width: 599px) {
    .span_1, .tile {
        width: 50.0%;
    }

    .span_2, .mainpic, .news, .doubletile, .doubleinfotile, .header, .footer {
        margin-left: 0;
        width: 100%;
    }
}

/* applies to both mobile layouts (0 + 1) */
@media screen and (min-width: 0px) and (max-width: 599px) {
    .page, .content {
	    width: 100%;
    }
    .header {
        font-size: 0.6em;
        min-height: 80px;
        background-position: 10px bottom;
    }
    .-header { 
        margin-left: 67px;
    }
    .header #name {
        margin-top: 8px;
    }
    #navbar {
        font-size: 1.6em;
    }
    #navbar ul { padding-left:0px; } /* overridden for L1,2*/

    #network {
        display: none;
    }
    #navbar #navbarnetwork {
        display:block;
    }

    /* popup navbar */
    #shownav {
        visibility:visible;
    }
    #navbar {
        display:none;
        opacity:0;
    }
    #navbar:target {
        position:relative;
        height: 100%;
        right:0px;
        width: 100%;
        display:block;
        z-index:5;
        top: -5px;
        opacity:1;
    }
    #navbar:target li {
        background-color:white;
        width: 100%;
        margin:0;
        padding: 5px 0 5px 0;
        
    }
    #navbar:target li span {
        padding-top: 5px;
    }
    #navbar:target #closenav {
        display:block;
    }
    #navbar:target {
        -moz-transition: opacity 1.25s;
        -ms-transition: opacity 1.25s;
        -o-transition: opacity 1.25s;
        -webkit-transition: opacity 1.25s;
        transition: opacity 1.25s;
    }
    /* end popup navbar */

    .mainpic {
        height: auto; 
    }
    .mainpic img {
        height: auto;
        width: 150%;
        left:-50%; margin-left:25%;
    }

    .news .newsitem:nth-of-type(n){ /* overrides all - no need for split heights in mobile*/
        height: 110px;
    }
    .news .newsitem:nth-of-type(n) .newscontainer {
        height: 100px;
    }
    .news .newsitem:nth-of-type(n) .newstext {
        height: 82px;
    }

    .bglogo {
        display:none;
    }
}

/* 2. '3' Column Grid 600px - 799px */
@media screen and (min-width: 600px) and (max-width: 799px) {
    .span_1, .tile {
        width: 25.0%;
    }
    .span_2, .mainpic, .news, .doubletile, .doubleinfotile {
	    width: 50.0%;
    }
    .span_3, .header, .footer {
	    margin-left: 0;
        width: 100%;
    }

    .header {
        font-size: 0.8em;
        min-height: 110px;
        background-position: 10px bottom;
    }
    .-header {
        margin-left: 90px;
    }
    #navbar {
        font-size: 1.2em;
    }
    #navbar ul { padding-left:15px; } /* overridden for L1,2*/
    #navbar li {
        margin: 0 2px;
        width: 75px;
    }
    #network li {
        /*float:none;*/
        text-align:left;
    }
    #network li span{
        display:none;
    }
    #network li img{
        width: 24px;
    }
    #network br{
        display:none;
    }
    #network li a {
        text-align:left;
    }
}


/* 3. 5 Column Grid 800px - 959px */
@media screen and (min-width: 800px) and (max-width: 959px) {
    .span_1, .tile {
        width: 20.0%;
    }
    .span_2, .news, .doubletile, .doubleinfotile {
	    width: 40.0%;
    }
    .span_3, .mainpic {
	    width: 60.0%;
    }
    .span_4 {
	    width: 80.0%;
    }
    .span_5, .header, .footer {
	    margin-left: 0;
	    width: 100%;
    }
}


/* 4. 6 Column Grid 960px - Infinity */
@media screen and (min-width: 960px) {
    .span_1, .tile {
	    width: 16.6666666667%;
    }
    .span_2, .news, .doubletile, .doubleinfotile {
	    width: 33.3333333333%;
    }
    .span_3 {
	    width: 50.0%;
    }
    .span_4, .mainpic {
	    width: 66.6666666667%;
    }
    .span_5 {
	    width: 83.3333333333%;
    }
    .span_6, .header, .footer {
	    margin-left: 0;
	    width: 100%;
    }
}

/* --------------------------------------- */
/* </styles/layout.css> */


/* <styles/print.css> */
/* --------------------------------------- */
@media print {
    body{
        background-color:white;
    }
    .bglogo{
        display:none;
    }
    .content{
        width:100% !important;
        box-shadow:none !important;
    }
    .page {
        display:none;
    }
    body {
        font-family:Verdana;
    }
    h1,h2,h3 {
        font-family: Verdana;
    }
    #innernav {
        display:none;
    }
    .innercontent {
        width: 100%;
    }
    .innerlargepic {
        display:none;
    }
}

/* --------------------------------------- */
/* </styles/print.css> */


/* Load complete. Server time: 02:08:34.744 */
/* Generation time: 0ms */